[Unit]
After=network.target

[Service]
ExecStart=/usr/bin/node server.js --server:port=80
WorkingDirectory=/var/www/scrumblr
Restart=always
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
